<% content_for :header_tags do %>
    <%= stylesheet_link_tag 'gantt', :plugin => 'my_gantt_plugin' %>
    <%= javascript_include_tag 'gantt', :plugin => 'my_gantt_plugin' %>
<% end %>

<h2>Gantt Chart</h2>

<div id="gantt-container">
  <div id="gantt-header-row">
    <div id="gantt-side-header"></div>
    <div class="gantt-resizer" id="gantt-resizer-header"></div>
    <div id="gantt-header-scroll">
      <div id="gantt-header">
        <!-- Timeline headers will go here -->
      </div>
    </div>
  </div>
  <div id="gantt-body-row">
    <div id="gantt-side-body"></div>
    <div class="gantt-resizer gantt-resizer-ghost" aria-hidden="true"></div>
    <div id="gantt-body-scroll">
      <div id="gantt-body">
        <svg id="gantt-lines"></svg>
        <!-- Bars will go here -->
      </div>
    </div>
  </div>
</div>

<script>
  var projectId = '<%= @project.id %>';
  var csrfToken = document.querySelector('meta[name="csrf-token"]').content;
</script>
